{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo %} 
	Registrar Noticia 
{% endblock titulo %}

{% block titulo_pagina %}
    Registrar Noticia
{% endblock titulo_pagina %}


{% block titulo_panel %}
    Formulario de registro 
{% endblock titulo_panel %}

{% block clase_ancho_panel  %}col-sm-7{% endblock clase_ancho_panel  %}

{% block contenido_panel %}

    {% if noticia.evento or evento %}
        {% if  evento %}
            <p> Noticia del evento  {{ evento.nombre }}</p>
        {% endif %}
        {% if  noticia.evento %}
            <p> Noticia del evento  {{ noticia.evento.nombre }}</p>
        {% endif %}
    {% endif %}


	<form action="" method="post" class="form-horizontal form-bordered " enctype="multipart/form-data"  data-parsley-validate="true">
	{% csrf_token %}
	{% for campo in form %}
        {% bootstrap_field campo layout='horizontal' %}
    {% endfor %}
    <div class="col-md-12 col-sm-12 ">
            
            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
        </div>
    </form>


{% endblock contenido_panel %}