{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block titulo_pagina %}

{% endblock titulo_pagina %}

{% block titulo_panel %}
    <a href="{% if request.META.HTTP_REFERER %} {{ request.META.HTTP_REFERER }} {% else %} {% url 'inicio' %} {% endif %}" class="btn btn-success " style="color: white">Atras</a>

{% endblock %}

{% block contenido_panel %}

    <!--Weather widget-->
    <!--===================================================-->
    <div id="demo-weather-widget-md" class="panel panel-light panel-colorful text-center">

        <div class="panel-body">

            <div class="col-xs-6">
                <img class=" img-lg mar-top" src="{{ MEDIA_URL }}{{ imagen }}"
                     alt="Foto noticia" style="width:100%;height:100%">

            </div>
            <div class="col-xs-6" style="height:100%">
                <h4 class="text-light mar-no pad-top">{{ titulo }}</h4>
                <br>
                <p align="justify">{{ descripcion }}</p>
                <hr class="mar-ver">
            </div>

        </div>
        <div id="demo-weather-widget-md" class="panel panel-info panel-colorful text-center">
            <div class="row">
                <div class="col-xs-4">
                    <canvas id="demo-weather-md-icon-1" width="32" height="10"></canvas>
                    <p class="text-sm text-dark mar-no"><b>Fecha de publicación: </b></p>
                    <p class="text-sm text-dark mar-no"><br>{{ fecha_publicacion }}</p>
                </div>

                <div class="col-xs-4">
                    <canvas id="demo-weather-md-icon-2" width="32" height="10"></canvas>
                    <p class="text-sm text-dark mar-no"><b>Creador: </b></p>
                    <p class="text-sm text-dark mar-no"><br>{{ creador }}</p>
                </div>

                <div class="col-xs-4">
                    <canvas id="demo-weather-md-icon-3" width="32" height="10"></canvas>
                    <p class="text-sm  text-dark mar-no"><b>Etiqueta</b></p>
                    <p class="text-sm text-dark mar-no"><br>{{ tag }}</p>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!--===================================================-->


    <div>
        {% comment %}
            {% if user.is_anonymous %}
                <a href="{% url 'evento_pre_inscripcion' id %}" class="btn btn-s btn-primary">
                    Preinscribir
                </a>
            {% endif %}

            {% if user.cargo == "Operador" %}
                <a href="{% url 'listar_preinscrito' id %}" class="btn btn-s btn-info">
                    Listado de preinscriptos
                </a>
                <a href="{% url 'inscribir_en_evento' id %}" class="btn btn-s btn-primary">
                    Inscripcion de participantes
                </a>
            {% endif %}
        {% endcomment %}

    </div>

    <br>

{% endblock contenido_panel %}














