{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Lista de noticias
{% endblock titulo %}

{% block titulo_pagina %}
    Noticias
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Lista de noticias
{% endblock titulo_panel %}


{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del evento al modal de confirmación
        $(".cambiar-estado").on('click', function (e) {
            var url = $(this).attr('data-url');
            var titulo = $(this).data('noticia-titulo');
            $(".noticia-titulo").text(titulo);
            $("#confirmar-cambio").attr('href', url);
        });


    </script>
{% endblock js_propios %}


{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="table-responsive  dataTables_wrapper">
        <table class="table table-striped table-bordered  data-combine">
            <thead>
            <tr>
                <th>Título</th>
                <th>Etiqueta</th>
                <th>Fecha de publicación</th>
                <th>Evento relacionado</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for noticia in lista_noticias %}
                <tr>
                    <td> {{ noticia.titulo }}</td>
                    <td>{{ noticia.tag }}</td>
                    <td>{{ noticia.fecha_publicacion }}</td>
                    <td>{% if noticia.evento.nombre %}{{ noticia.evento.nombre }}{% else %}No esta relacionada a un
                        evento{% endif %}</td>
                    <td>
                        <div class="btn-group btn-group-lg">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button"
                                        aria-expanded="true">
                                    Opciones
                                    <i class="dropdown-caret"></i>
                                </button>
                                <ul class="dropdown-menu  dropdown-menu-right" style="">
                                    <li>
                                        <a href="{% url 'detalles_noticia' noticia.id %}"
                                           ">Ver detalle</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'noticia_modificar' noticia.id %}"
                                          ">Modificar</a>
                                    </li>

                                    <li>
                                        <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                           data-url="{% if noticia.is_active %}
                                            {% url 'desactivar_noticia' noticia.id %}
                                        {% else %}
                                            {% url 'activar_noticia' noticia.id %}
                                        {% endif %}"

                                           data-noticia-titulo="{{ noticia.titulo }}"
                                          class ="{% if noticia.is_active %}btn-danger {% else %} btn-success {% endif %} cambiar-estado">
                                            {% if noticia.is_active %}
                                                Desactivar noticia
                                            {% else %}
                                                Activar noticia
                                            {% endif %}
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambiar el estado de la noticia</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea cambiar el estado de la noticia?</p>
                    <ul>
                        <li><b>Título:</b> <label class="noticia-titulo"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-danger">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
