{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Registrar pago {% endblock titulo %}

{% block titulo_pagina %}
    Registrar pago
{% endblock titulo_pagina %}


{% block miga_pan %}
    <li>Pagos</li>
    <li class="active">Registrar</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Registrar pago
{% endblock titulo_panel %}




{% block contenido_panel %}


    <form action = "" method="POST" class="form-horizontal form-bordered "  enctype="multipart/form-data" data-parsley-validate="true"> {% csrf_token %}
        <div class="col-md-offset-0 col-md-12 col-lg-offset-2 col-lg-8">
            {% for campo in form %}
                {% bootstrap_field campo layout='horizontal' %}
            {% endfor %}
            <div class="col-md-12 col-sm-12 ">
                <span class="pull-right">
                    <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Enviar</button>
                </span>
            </div>
        </div>
    </form>


{% endblock contenido_panel %}

