{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Reporte de porcentaje de asistencia a los eventos por fecha
{% endblock titulo %}

{% block titulo_pagina %}
    Reporte de porcentaje de asistencia a los eventos por fecha
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Reporte de porcentaje de asistencia a los eventos por fecha
{% endblock titulo_panel %}


{% block css %}
    <link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet"/>
{% endblock %}

{% block js_propios %}
    {{ block.super }}
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/apps/generales/advance-daterange.js' %}"></script>
    <script src="{% static 'js/apps/reporte/reporte.js' %}"></script>

    <script>

        generar_reporte_fecha('#enviar_datos', '{% url "reporte_porcentaje_participacion_fecha_datos" %}', 'grafico', '#selector_fecha')
    </script>

{% endblock js_propios %}

{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="tab-base">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4 ">
                    Por favor seleccione un rango de fechas
                </label>
                <div class="col-md-5">
                    <div id="selector_fecha" class="advance-daterange btn btn-white btn-block">
                        <span></span>
                        <i class="ti-angle-down"></i>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-success" id="enviar_datos">
                        Actualizar
                    </button>
                </div>
            </div>
            {% comment %}
            <div class="form-group">
                <label class="control-label col-md-4">
                    Detalle de fecha
                </label>
                <div class="col-md-5">
                    <select id="seleccion-detalle-fecha" class="form-control">
                        <option value="dia" selected="">Dia</option>
                        <option value="mes">Mes</option>
                    </select>
                </div>


            </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Tipo de gráfico
                    </label>
                    <div class="col-md-5">
                        <select id="seleccion-tipo-grafico" class="form-control">
                            <option value="barras" selected="">Barras</option>
                            <option value="barras_horizontales">Barras horizontales</option>
                        </select>
                    </div>

                </div>
            {% endcomment %}
        </div>


        <!--Nav tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tabla">Tabla</a>
            </li>
            <li>
                <a data-toggle="tab" href="#grafica">Gráfica</a>
            </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">

            <div id="tabla" class="tab-pane fade active in">


                <div class="table-responsive  dataTables_wrapper">
                    <table class="table table-striped table-bordered  data-combine">
                        <thead>
                        <tr>
                            {% for encabezado in encabezados %}
                                <th>{{ encabezado }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for elemento in datos %}
                            <tr>
                                <td>
                                    {{ elemento.label }}
                                </td>
                                <td>
                                    {{ elemento.value }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="grafica" class="tab-pane fade">
                <div class="row">

                    <div class="col-md-12">
                        <div id="contenedor-grafico">
                            <canvas id="grafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido_panel %}