{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Reporte de cantidad de asistencia a las activades de un evento
{% endblock titulo %}

{% block titulo_pagina %}
    Reporte de cantidad de asistencia a las activades de un evento
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Reporte de cantidad de asistencia a las activades de un evento
{% endblock titulo_panel %}



{% block js_propios %}
    {{ block.super }}
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/apps/reporte/reporte_cantidad_participantes.js' %}"></script>

    <script>
        generar_reporte_cantidad_asistentes('#enviar_datos', '{% url "reporte_asistencia_actividades_datos" %}', 'grafico', '#selector_evento')
    </script>

{% endblock js_propios %}

{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="tab-base">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4 ">
                    Por favor seleccione un evento
                </label>
                <div class="col-md-5">
                    <select id="selector_evento" class="form-control">
                        {% for evento in eventos %}
                            {% if forloop.first %}
                                <option value="{{ evento.id }}" selected="">{{ evento.nombre }}</option>
                            {% else %}
                                <option value="{{ evento.id }}">{{ evento.nombre }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-success" id="enviar_datos">
                        Actualizar
                    </button>
                </div>
            </div>
        </div>


        <!--Nav tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tabla">Tabla</a>
            </li>
            <li>
                <a data-toggle="tab" href="#grafica">Gráfica</a>
            </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">

            <div id="tabla" class="tab-pane fade active in">


                <div class="table-responsive  dataTables_wrapper">
                    <table class="table table-striped table-bordered  data-combine">
                        <thead>
                        <tr>
                            {% for encabezado in encabezados %}
                                <th>{{ encabezado }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for elemento in datos %}
                            <tr>
                                <td>
                                    {{ elemento.label }}
                                </td>
                                <td>
                                    {{ elemento.value }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="grafica" class="tab-pane fade">
                <div class="row">

                    <div class="col-md-12">
                        <div id="contenedor-grafico">
                            <canvas id="grafico"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido_panel %}