{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Calendario evento {% endblock titulo %}

{% block titulo_pagina %}
    Calendario
{% endblock titulo_pagina %}


{% block titulo_panel %}
    Calendario del evento: {{ evento.nombre }}
    <button class="btn btn-default btn-sm" id="actualizar">
        <i class="ti-calendar "></i>
        Actualizar
    </button>
{% endblock titulo_panel %}

{% block css %}
    <link href="{% static 'plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet">
	<link href="{% static 'plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/fullcalendar/lib/moment.min.js' %}"></script>
	<script src="{% static 'plugins/fullcalendar/lib/jquery-ui.custom.min.js' %}"></script>
	<script src="{% static 'plugins/fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'plugins/fullcalendar/lang/es.js' %}"></script>
{% endblock  %}

{% block js_propios %}
    <script>
        // Initialize the calendar
        // -----------------------------------------------------------------
        $('.calendar').fullCalendar({
            locale:'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            defaultDate: moment().format("YYYY-MM-DD"),
            eventLimit: true // allow "more" link when too many events
        });

    </script>

    <script src="{% static 'js/apps/evento/calendario_evento.js' %}"></script>

    <script>
        actualizarCalendario('{% url "evento_datos_calendario" %}',{{ evento.id }})
    </script>

{% endblock  %}


{% block contenido_panel %}

    <div class="row">
        <!-- ============================================ -->
        <div class='calendar col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 '></div>
        <!-- ============================================ -->
    </div>

{% endblock contenido_panel %}