{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Registrar evento {% endblock titulo %}

{% block titulo_pagina %}
    Registrar evento
{% endblock titulo_pagina %}



{% block titulo_panel %}
    Formulario de registrio
{% endblock titulo_panel %}




{% block contenido_panel %}


    <form action = "" method="POST" class="form-horizontal form-bordered "  enctype="multipart/form-data"  data-parsley-validate="true"> {% csrf_token %}
        <div class="col-sm-offset-2 col-sm-8">{% for campo in form %}
            {% bootstrap_field campo layout='horizontal' %}
        {% endfor %}
            <div class="col-md-12 col-sm-12 ">
                <span class="pull-right">
                    <a href="{% if request.META.HTTP_REFERER %} {{ request.META.HTTP_REFERER }} {% else %} {% url 'evento_listar' %} {% endif %}" class="btn btn-danger ">Cancelar</a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Registrar</button>
                </span>
            </div>
        </div>
    </form>


{% endblock contenido_panel %}