{% extends 'base.html' %}
{% load bootstrap3 %}
{% block titulo %}
{{ nombre_evento }}
{% endblock titulo %}
{% block titulo_pagina %}
{% endblock titulo_pagina %}


{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del evento al modal de confirmación
         $('#crear_escarapela').on (click,funcion).trigger ();
    </script>
{% endblock js_propios %}

{% block contenido_panel %}
<div class="row">
    <div class="panel-body col-xs-5">
        <div id="page-content">
            <img src="/static/img/image13.png" alt="Logo" class="mar-top" height="250" width="250">
            <address>
                <h2 class="text-main h2 text-uppercase text-thin mar-no text-primary">¡Hola! Me llamo: </h2>

                <h3 class="text-main h3 text-uppercase text-thin mar-no text-primary">
                    {{ participante.nombres }}
                    {{ participante.apellidos }}</h3>
            </address>
            <address>
                <h2 class="text-main h2 text-uppercase text-thin mar-no text-primary">Mi documento es: </h2>

                <h3 class="text-main h3 text-uppercase text-thin mar-no text-primary">
                    {{ participante.numero_documento }}</h3>
            </address>
            <address>
                <h2 class="text-main h2 text-uppercase text-thin mar-no text-primary">Y participo en: </h2>

                <h3 class="text-main h3 text-uppercase text-thin mar-no text-primary">
                    {{ evento.nombre }}</h3>
            </address>
            <div class="text-right no-print">
                <a href="{% url 'inscribir_en_evento' evento.id %}" class="btn btn-danger btn-lg">Volver</a>
                <a href="javascript:window.print()" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido_panel %}

