{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Eventos {% endblock titulo %}

{% block titulo_pagina %}
    Eventos 
{% endblock titulo_pagina %}



{% block titulo_panel %}
    Eventos
{% endblock titulo_panel %}




{% block contenido %}
                                    
                                    {% for evento in lista_eventos %}
                                    <div class="row-sm-4" >
                                    <div class="col-sm-6 col-xs-12 col-md-4">
                                    <div class="panel">
					                    <div class="panel-body text-center bg-mint">

					                        	<a href="{% url 'inscribir_en_evento' evento.id %}"><img class="img-lg img-circle img-border mar-btm" src="{% if evento.imagen %}
                                                                 {{ MEDIA_URL }}{{ evento.imagen }} 
                                                                 {% else %}
                                                                 {% static 'img/image13.png'%}
                                                                 {% endif %}" alt="Foto evento"></a>
					
					                        <h4 class="text-light">{{ evento.nombre }}</h4>
					                        <p class="text-sm">{{ evento.descripcion }}</p>
					                        <ul class="list-unstyled text-center pad-top mar-no row">
					                            <li class="col-xs-4">
					                                <span class="text-lg text-semibold">{{evento.numero_cupos}}</span>
					                                <p class="text-sm mar-no">Número de cupos</p>
					                            </li>
					                            <li class="col-xs-4">
					                                <span class="text-lg text-semibold">{{evento.fecha_inicio|date:"M d, Y"}}</span>
					                                <p class="text-sm mar-no">Fecha inicio</p>
					                            </li>
					                            <li class="col-xs-4">
					                                <span class="text-lg text-semibold">{{evento.fecha_fin|date:"M d, Y"}}</span>
					                                <p class="text-sm mar-no">Fecha fin</p>
					                            </li>
					                        </ul>
					                    </div>
					                    <div class="list-group bg-trans pad-btm">
					                        <a class="list-group-item" href="#"><i class="demo-pli-information icon-lg icon-fw"></i><b>Dirección:</b> {{ evento.direccion }}</a>
					                        <a class="list-group-item" href="#"><i class="demo-pli-mine icon-lg icon-fw"></i><b>Teléfono:</b> {{ evento.telefono }}</a>
					                        <a class="list-group-item" href="#"><span class="label label-info pull-right">Promoción</span><i class="demo-pli-credit-card-2 icon-lg icon-fw"></i><b>Costo:</b> {{ evento.costo }}</a>
					                    </div>
					                </div>
					                </div>
					                </div>
					                {% endfor %}

{% endblock contenido %}

