{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    {{ nombre }}
{% endblock titulo %}

{% block titulo_pagina %}
    {{ nombre }}
{% endblock titulo_pagina %}


{% block titulo_panel %}
    <p> Descripción </p>
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="panel-body">

        <div class="col-sm-12">
            <img class=" img-lg mar-top" src="{% if imagen %} {{ MEDIA_URL }}{{ imagen }}
                                    {% else %}
                                        {% static 'img/image13.png' %}
                                    {% endif %}" alt="Foto evento" style="width:30%;height:30%">
        </div>

        <div class="row">
            <div class="col-sm-2">
                <b>Nombre: </b>
            </div>
            <div class="col-sm-10">
                {{ nombre }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <b>Descripción: </b>
            </div>
            <div class="col-sm-10">
                {{ descripcion }}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Lugar: </b>
            </div>
            <div class="col-sm-10">
                {{ lugar }}
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Dirección: </b>
            </div>
            <div class="col-sm-10">
                {{ direccion }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Teléfono: </b>
            </div>
            <div class="col-sm-10">
                {{ telefono }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Costo: </b>
            </div>
            <div class="col-sm-10">
                ${{ costo }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Número de cupos: </b>
            </div>
            <div class="col-sm-10">
                {{ numero_cupos }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Fecha límite de inscripción: </b>
            </div>
            <div class="col-sm-10">
                {{ fecha_limite }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Fecha de inicio: </b>
            </div>
            <div class="col-sm-10">
                {{ fecha_inicio }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Fecha de fin: </b>
            </div>
            <div class="col-sm-10">
                {{ fecha_fin }}
            </div>
        </div>
    </div>

    <br>

    <div>
        <a href="{% url 'calendario_evento' id %}" class="btn btn-mint btn-s">
            <i class="ti-calendar "></i>
            Ver calendario de actividades
        </a>

        {% if user.is_anonymous %}
            <a href="{% url 'evento_pre_inscripcion' id %}" class="btn btn-s btn-primary">
                Preinscribirme
            </a>
        {% endif %}

        {% if user.cargo == "Operador" %}
            <a href="{% url 'listar_preinscrito' id %}" class="btn btn-s btn-info">
                Listado de preinscriptos
            </a>
            <a href="{% url 'inscribir_en_evento' id %}" class="btn btn-s btn-primary">
                Inscripcion de participantes
            </a>
        {% endif %}
        <br>
    </div>

    <br>


    {% comment %}
        {% if lista_participantes %}

            <div class="row">
                <div class="col-sm-2">
                    <b>Lista de participantes del evento</b>
                </div>
            </div>

            <div class="table-responsive dataTables_wrapper">
                <table class="table table-striped table-bordered  data-combine">
                    <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Numero documento</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for participante in lista_participantes %}
                        <tr>
                            <td>{{ participante.participante.nombres }}</td>
                            <td>{{ participante.participante.apellidos }}</td>
                            <td>{{ participante.participante.correo }}</td>
                            <td>{{ participante.participante.numero_documento }}</td>
                            <td>{{ participante.participante.telefono }}</td>
                            <td>
                                <a href="{% url 'participante_modificar' participante.evento.id participante.participante.id %}"
                                   class="btn btn-primary btn-xs">Modificar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endif %}
    {% endcomment %}




    {% if not lista_actividades %}
        <div class="row">
            <div class="col-sm-2">
                <b>El evento no tiene actividades</b>
            </div>
        </div>
    {% else %}



        {% for actividad in lista_actividades %}
            <div class="row-sm-3">
                <div class="col-sm-6 col-xs-12 col-md-2">
                    <div class="panel">
                        <div class="panel-body text-center bg-info">

                            <img class="img-lg img-circle img-border mar-btm" src="{% if evento.imagen %}
                                                                     {{ MEDIA_URL }}{{ evento.imagen }}
                                                                     {% else %}
                                                                        {% static 'img/image13.png' %}
                                                                     {% endif %}" alt="Foto evento" >

                            <h4 class="text-light">{{ actividad.nombre }}</h4>

                            <ul class="list-unstyled text-center pad-top mar-no row">
                                <li class="col-xs-12">
                                    <span class="text-lg text-semibold">{{ actividad.cupo_disponible }}</span>
                                    <p class="text-sm mar-no">Cupos</p>
                                </li>

                            </ul>
                        </div>
                        <div class="list-group bg-trans pad-btm">
                            <a class="list-group-item"><b>Dirección:</b> {{ actividad.lugar }}</a>
                            <a class="list-group-item"><b>Fecha:</b> {{ actividad.fecha_realizacion }}</a>
                            {% if user.cargo == "Operador" %}
                                <a class="list-group-item" href="{% url 'registrar_resultado' actividad.id %}">Registrar
                                    resultado</a>
                                <a class="list-group-item" href="{% url 'listado_participantes' actividad.id %}">Listado
                                    de participantes</a>
                                <a class="list-group-item"
                                   href="{% url 'actividad_modificar' actividad.id %}">Modificar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock contenido_panel %}
