{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Lista de preinscritos
{% endblock titulo %}

{% block titulo_pagina %}
    Lista de preinscritos
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Lista de preinscritos
{% endblock titulo_panel %}


{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del preinscrito al modal de confirmación
        $(".cambiar-estado").on('click', function (e) {
            var url = $(this).attr('data-url');
            var nombre = $(this).data('preinscrito-nombre');
            var apellidos = $(this).data('preinscrito-apellidos');
            var documento = $(this).data('preinscrito-documento');
            var titulo = $(this).data('titulo');
            var texto = $(this).data('texto');

            $(".preinscrito-nombre").text(nombre);
            $(".preinscrito-apellidos").text(apellidos);
            $(".preinscrito-documento").text(documento);
            $(".titulo").text(titulo);
            $(".texto").text(texto);
            $("#confirmar-cambio").attr('href', url);

        });


    </script>
{% endblock js_propios %}

{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="table-responsive  dataTables_wrapper">
        <table class="table table-striped table-bordered  data-combine">
            <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número de identificación</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Opciones</th>
             
                
            </tr>
            </thead>
            <tbody>
            {% if user.cargo == "Operador" %}
                {% for preinscrito in evento.participantes.all %}
                    <tr>
                        <td>{{ preinscrito.participante.nombres }}</td>
                        <td>{{ preinscrito.participante.apellidos }}</td>
                        <td>{{ preinscrito.participante.numero_documento}}</td>
                        <td>{{ preinscrito.participante.correo }}</td>
                        <td>{{ preinscrito.participante.telefono }}</td>
                        <td>{{ preinscrito.get_estado_inscripcion_display }} </td>
                        <td>

                            {% if preinscrito.estado_inscripcion == 'EN ESPERA PRE' %}
                                <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                   data-url="{% url 'aceptar_preinscrito' preinscrito.evento.id preinscrito.id   %}"
                                   data-preinscrito-nombre="{{ preinscrito.participante.nombres }}"
                                   data-preinscrito-apellidos = "{{ preinscrito.participante.apellidos }}"
                                   data-preinscrito-documento="{{ preinscrito.participante.numero_documento}}"
                                   data-titulo="Aceptar"
                                   data-texto="aceptar"
                                   class="btn btn-xs btn-success cambiar-estado">
                                        Aceptar inscripción
                                </a>

                                <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                   data-url="{% url 'rechazar_preinscrito' preinscrito.evento.id preinscrito.id  %}"
                                   data-preinscrito-nombre="{{ preinscrito.participante.nombres }}"
                                   data-preinscrito-apellidos = "{{ preinscrito.participante.apellidos }}"
                                   data-preinscrito-documento="{{ preinscrito.participante.numero_documento}}"
                                   data-titulo="Rechazar"
                                   data-texto="rechazar"
                                   class="btn btn-xs btn-danger cambiar-estado">
                                        Rechazar inscripción
                                </a>
                            {% elif preinscrito.estado_inscripcion == 'PREINSCRITO' %}
                                Ya se encuentra pre-inscrito
                            {% elif preinscrito.estado_inscripcion == 'Rechazado' %}
                                La inscripción fue rechazada
                            {% elif preinscrito.estado_inscripcion == 'INSCRITO' %}
                                Ya se encuentra inscrito
                            {% endif %}

                            <a href="{% url 'participante_modificar' preinscrito.evento.id preinscrito.participante.id %}"
                               class="btn btn-primary btn-xs">Modificar</a>

                        </td>                        
                    </tr>

                {% endfor %}
            
            {% endif %}

            </tbody>
        </table>
    </div>

    <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><label class="titulo"></label> preinscripción del participante</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea <label class="texto"></label> la preinscripción del participante?</p>
                    <ul>
                        <li><b>Nombre</b>: <label class="preinscrito-nombre"></label> <label class="preinscrito-apellidos"></label></li>
                        <li><b>Número de identificación</b>: <label class="preinscrito-documento"></label></li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-danger">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>

        <div class="modal inmodal" id="modal-confirmacion2">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Rechazar preinscripción de participante</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea rechazar la preinscripción del participante?</p>
                    <ul>
                        <li><b>Nombre</b>: <label class="preinscrito-nombre"></label> <label class="preinscrito-apellidos"></label></li>
                        <li><b>Número de identificación:</b> <label class="preinscrito-documento"></label></li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-danger">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}