{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Lista de eventos
{% endblock titulo %}

{% block titulo_pagina %}
    Eventos
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Lista de eventos
{% endblock titulo_panel %}


{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del evento al modal de confirmación
        $(".cambiar-estado").on('click', function (e) {
            var url = $(this).attr('data-url');
            var nombre = $(this).data('evento-nombre');
            var descripcion = $(this).data('evento-descripcion');
            $(".evento-nombre").text(nombre);
            $(".evento-descripcion").text(descripcion);
            $("#confirmar-cambio").attr('href', url);
        });
    </script>
{% endblock js_propios %}

{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="table-responsive  dataTables_wrapper">
        <table class="table table-striped table-bordered  data-combine">
            <thead>
            <tr>
                <th>Evento</th>
                <th>Descripción</th>
                <th>Costo</th>
                <th>Fecha límite inscripción</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% if user.cargo == "Operador" %}
                {% for evento in lista_eventos %}
                    <tr>
                        <td> {{ evento.nombre }}</td>
                        <td>{{ evento.descripcion }}</td>
                        <td>{{ evento.costo }}</td>
                        <td>{{ evento.fecha_limite_inscripcion }}</td>
                        <td>
                            <div class="btn-group btn-group-lg">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button"
                                            aria-expanded="true">
                                        Opciones
                                        <i class="dropdown-caret"></i>
                                    </button>
                                    <ul class="dropdown-menu  dropdown-menu-right" style="">
                                        <li>
                                            <a href="{% url 'detalles_evento' evento.id %}">
                                                Detalle
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'evento_modificar' evento.id %}">
                                                Modificar
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                               data-url="{% if evento.is_active %}
                                                    {% url 'evento_desactivar' evento.id %}
                                                {% else %}
                                                    {% url 'evento_activar' evento.id %}
                                                {% endif %}
                                                "
                                               data-evento-nombre="{{ evento.nombre }}"
                                               data-evento-descripcion="{{ evento.descripcion }}"
                                               class="cambiar-estado">
                                                {% if evento.is_active %}
                                                    Desactivar evento
                                                {% else %}
                                                    Activar evento
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% if evento.is_active %}
                                            <li>
                                                <a href="{% url 'actividad_crear_evento' evento.id %}">
                                                    Registrar actividad
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <!--
                            <a href="{% url 'detalles_evento' evento.id %}" class="btn btn-success btn-xs">Ver
                                detalle</a>
                            <a href="{% url 'evento_modificar' evento.id %}"
                               class="btn btn-primary btn-xs">Modificar</a>
                            <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                               data-url="{% if evento.is_active %}
                                                    {% url 'evento_desactivar' evento.id %}
                                                {% else %}
                                                    {% url 'evento_activar' evento.id %}
                                                {% endif %}
                                                "
                               data-evento-nombre="{{ evento.nombre }}"
                               data-evento-descripcion="{{ evento.descripcion }}"
                               class="btn btn-xs {% if evento.is_active %} btn-danger{% else %} btn-success {% endif %} cambiar-estado">
                                {% if evento.is_active %}
                                    Desactivar evento
                                {% else %}
                                    Activar evento
                                {% endif %}
                            </a>
                            {% if evento.is_active %}
                            <a href="{% url 'actividad_crear_evento' evento.id%}" class="btn btn-mint btn-xs">Registrar actividad</a>
                            {% endif %}
                            -->
                        </td>
                    </tr>


                {% endfor %}
            {% elif user.is_anonymous or user.cargo == "Gerente" or user.cargo == "Administrador" %}
                {% for evento in lista_eventos %}
                    {% if evento.estado == "Activo" %}
                        <tr>
                            <td> {{ evento.nombre }}</td>
                            <td>{{ evento.descripcion }}</td>
                            <td>{{ evento.costo }}</td>
                            <td>{{ evento.fecha_limite_inscripcion }}</td>
                            <td>
                                <a href="{% url 'detalles_evento' evento.id %}" class="btn btn-info btn-xs">Ver
                                    detalle</a>
                                {% if user.is_anonymous %}
                                    <a href="{% url 'evento_pre_inscripcion' evento.id %}"
                                       class="btn btn-success btn-xs">Preinscribirse
                                        a evento</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>

    <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambiar de estado del evento</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea cambiar el estado del evento?</p>
                    <ul>
                        <li><b>Evento</b>: <label class="evento-nombre"></label></li>
                    </ul>
                    <ul>
                        <li><b>Descripción</b>: <label class="evento-descripcion"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-primary">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
