{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo %} 
	Pre inscripción
{% endblock titulo %}

{% block titulo_pagina %}
    Pre inscripción
{% endblock titulo_pagina %}


{% block titulo_panel %}
    Pre inscripción
{% endblock titulo_panel %}

{% block clase_ancho_panel  %}col-sm-7{% endblock clase_ancho_panel  %}

{% block contenido_panel %}

	<form action="" method="post" class="form-horizontal form-bordered " data-parsley-validate="true"> 
	{% csrf_token %}
	{% for campo in form %}
        {% bootstrap_field campo layout='horizontal' %}
    {% endfor %}

    <div class="col-md-12 col-sm-12 ">
            
            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
        </div>
    </form>


{% endblock contenido_panel %}