{% extends 'index.html' %}
{% load staticfiles %}


{% block slider %}
    {% if noticia %}

        <div class="col-sm-12">
            <img class=" img-lg mar-top" src="{% if noticia.imagen %} {{ MEDIA_URL }}{{ noticia.imagen }}
                                                        {% else %}
                                                            {% static 'img/image13.png' %}
                                                        {% endif %}" alt="Foto evento" style="width:40%;height:40%">
                            </div>

    {% else %}
        <h1>Lo sentimos</h1>
        <span class="subheading">Error :(</span>
    {% endif %}
{% endblock %}

{% block noticias_principales %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if noticia %}
                        <div class="post-preview">
                              <h2 class="post-title">
                                  {{ noticia.titulo }}
                              </h2>
                            <p class="post-meta">
                                {{ noticia.tag }}
                            </p>
                              <p class="post-subtitle">
                                {{ noticia.descripcion }}
                              </p>
                          
                            <p class="post-meta">
                                Publicado por {{ noticia.creador.get_full_name }} {{ noticia.fecha_publicacion }}
                            </p>
                        </div>
                        <hr>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



