{% extends 'index.html' %}
{% load staticfiles %}

{% block slider %}
    <div class="col-sm-12">
            <img class=" img-lg mar-top" src="{% if imagen %} {{ MEDIA_URL }}{{ imagen }}
                                                        {% else %}
                                                            {% static 'img/image13.png' %}
                                                        {% endif %}" alt="Foto evento" style="width:30%;height:30%">
                            </div>
{% endblock %}

{% block noticias_principales %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if evento %}
                        <div class="panel-body">
                            

                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Nombre: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.nombre }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Descripción: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.descripcion }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Lugar: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.lugar }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Dirección: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.direccion }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Teléfono: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.evento.telefono }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Costo: </b>
                                </div>
                                <div class="col-sm-6">
                                    ${{ evento.costo }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Número de cupos: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.numero_cupos }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Fecha límite de inscripción: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.fecha_limite }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Fecha de inicio: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.fecha_inicio }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <b>Fecha de fin: </b>
                                </div>
                                <div class="col-sm-6">
                                    {{ evento.fecha_fin }}
                                </div>
                            </div>
                        </div>
                
                        <br>
 
                        <div>

                            <a href="{% url 'detalles_evento' evento.id %}" class="btn btn-s btn-primary">
                                Ver más
                            </a>


                            <br>
                        </div>

                        <br>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



