{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

  <head>
      <style>
          .text {
              background-color: rgba(0, 0, 0, 1);
              color: white;
              font-size: 16px;
              padding: 2% 2%;
              opacity: 0.8;
              text-align: left;

          }

          .brand-icon {
              display: block;
              line-height: 55px;
              width: 55px;
              height: 55px;
              float: left;
              margin: 0;
          }


  </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABC Eventos</title>
        <link rel="shortcut icon" href="{% static 'img/image13.ico' %}">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'landingpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'plugins/toast/toastr/toastr.min.css' %}">
      <!-- Custom fonts for this template -->
      <link href="{% static 'landingpage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

      <!-- Custom styles for this template -->
      <link href="{% static 'landingpage/css/clean-blog.min.css' %}" rel="stylesheet">
      <!-- Slider -->
      <link rel="stylesheet" type="text/css" href="{% static 'landingpage/slider-pro-master/dist/css/slider-pro.min.css' %}" media="screen"/>
      <link rel="stylesheet" type="text/css" href="{% static 'landingpage/slider-pro-master/css/slider-pro-style.css' %}" media="screen"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'landingpage2/css/full-slider.min.css' %}" rel="stylesheet">



  </head>

  <body>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/image13.png' %}" alt="Logo" class="brand-icon"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eventos' %}">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">  
                {% if user.is_anonymous %}
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{{ user.first_name }}</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block slider %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        
        <div class="carousel-inner" role="listbox">
          
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
         
        </div>
        
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
       
    </header>
    {% endblock %}
    <!-- Page Content -->
    {% block noticias_principales %}
    <section class="py-5">
      <div class="container">
        <h1>Full Slider by Start Bootstrap</h1>
        <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the
          <code>full-slider.css</code>file.</p>
      </div>
    </section>
    {% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ABC Eventos</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'landingpage2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landingpage2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>>
    <script src="{% static 'plugins/toast/toastr-js/toastr.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'landingpage2/js/clean-blog.min.js' %}"></script>

  </body>

</html>
