{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
     <style>

      .brand-icon{
          display: block;
        line-height: 55px;
        width: 55px;
        height: 55px;
        float: left;
        margin: 0;
      }


      </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>ABC Eventos</title>
        <link rel="shortcut icon" href="{% static 'img/image13.ico' %}">
      <!-- Bootstrap core CSS -->
      <link href="{% static 'landingpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Notifications -->
      <link rel="stylesheet" href="{% static 'plugins/toast/toastr/toastr.min.css' %}">
      
      <!-- Custom fonts for this template -->
      <link href="{% static 'landingpage/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

      <!-- Custom styles for this template -->
      <link href="{% static 'landingpage/css/clean-blog.min.css' %}" rel="stylesheet">
      <!-- Slider -->
      <link rel="stylesheet" type="text/css" href="{% static 'landingpage/slider-pro-master/dist/css/slider-pro.min.css' %}" media="screen"/>
      <link rel="stylesheet" type="text/css" href="{% static 'landingpage/slider-pro-master/css/slider-pro-style.css' %}" media="screen"/>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/image13.png' %}" alt="Logo" class="brand-icon"> </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'eventos' %}">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              {% if user.is_anonymous %}
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">{{ user.first_name }}</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'landingpage/img/home-bg.jpeg' %})">

      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <div class="site-heading" style="padding: 100px 0 50px">
                {%  block slider %}
                
                {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    {% block noticias_principales %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2017</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    <hr>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ABC Eventos</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'landingpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landing/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'landingpage/js/clean-blog.min.js' %}"></script>

    <script src="{% static 'plugins/toast/toastr-js/toastr.min.js' %}"></script>
    <script type="text/javascript">
        $('form').attr('autocomplete','off');
        {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        "showEasing": "swing"
                    }
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },1500);
            });
        {% endfor %}
    </script>


  </body>

</html>
