{% extends 'index.html' %}
{% load staticfiles %}


{% block slider %}
    <h1 style="color: black">El equipo de desarrollo:</h1>
{% endblock %}

{% block noticias_principales %}
    <section class="py-5">
		 <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">                                    
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="https://scontent.fclo1-2.fna.fbcdn.net/v/t1.0-1/1782074_10200326629044868_2296226271978616073_n.jpg?oh=2664ddd81548b04b2aa94bb0a0ed2c32&oe=5ACF9F6B" style="width:100%;height:70%">
                                        </div>
                                        <div class="col-lg-8">
                                            <h2 class="post-title">
                                                Iván Miguel Viveros
                                            </h2>
                                            <p class="post-subtitle">
                                                Estudiante de 8vo semestre de Ingeniería de Sistemas de la Universidad del Valle. Perteneciente al laboratorio CEDESOFT. Lider del desarrollo del trabajo. Nuestro gurú Djanguiano. Iván lo hace todo, nadie hace nada. Le gusta hacer reuniones de urgencia.
                                            </p>
                                            <p class="post-meta">
                                                "A ver, quitate yo lo hago!"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="https://scontent.fclo1-2.fna.fbcdn.net/v/t1.0-9/11149273_10205927958295588_2054004013230237397_n.jpg?oh=1185239e12df1ec5cf5b59ea7b1e9f79&oe=5A8AAFAA" style="width:100%;height:80%">
                                        </div>
                                        <div class="col-lg-8">
                                            <h2 class="post-title">
                                                Aura Cristina Jiménez
                                            </h2>
                                            <p class="post-subtitle">
                                                Estudiante de ??vo semestre de Ingeniería de Sistemas de la Universidad del Valle. Perteneciente al laboratorio CEDESOFT. Nadie sabe qué le gusta a Laura.
                                            </p>
                                            <p class="post-meta">
                                                "No Iván, dejame yo lo hago!! T.T"
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="https://scontent.fclo1-2.fna.fbcdn.net/v/t1.0-9/15940967_1344393332268487_2580111433990152320_n.jpg?oh=d9163808de01b91252580fd24b406801&oe=5ABD5CA7" style="width:100%;height:55%">
                                        </div>
                                        <div class="col-lg-8">
                                            <h2 class="post-title">
                                                Juan José Salazar
                                            </h2>
                                            <p class="post-subtitle">
                                                Estudiante de 8vo semestre de Ingeniería de Sistemas de la Universidad del Valle. Perteneciente al laboratorio de Multimedia y Visión por computador. Le gusta perder el tiempo jugando videojuegos piratas.
                                            </p>
                                            <p class="post-meta">
                                                "Buenos días, hoy vamos a exponer Bootstrap. Esto es esto, esto es esto, pasemos de diapositiva. Esto no importa. Esto está en Internet. Pues eso es todo muchachos. ._."
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="https://scontent.fclo1-2.fna.fbcdn.net/v/t1.0-9/15037208_10202366225112952_805117860957998495_n.jpg?oh=9797145e051e9ee853247210af568d99&oe=5AD3B383" style="width:100%;height:60%">
                                        </div>
                                        <div class="col-lg-8">
                                            <h2 class="post-title">
                                                Juan David Suaza
                                            </h2>
                                            <p class="post-subtitle">
                                                Estudiante de 8vo semestre de Ingeniería de Sistemas de la Universidad del Valle. Perteneciente al laboratorio de Multimedia y Visión por computador. Le gusta perder el tiempo dañandose las manos jugando Osu! (100% recomendado).
                                            </p>
                                            <p class="post-meta">
                                                "Algún día entenderé cómo funciona realmente esto del desarrollo web."
                                            </p>
                                        </div>
                                    </div>
	                        </div>
                        <hr>
                </div>
             </div>
        </div>
</section>
{% endblock %}



