{% extends 'index2.html' %}
{% load staticfiles %}


{% block slider %}
	<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
		  {% for noticia in noticias %}
		  	{% if forloop.first %}
		  		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	  		{% else %}
	  			<li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
  			{% endif %}
		  {% endfor %}

        </ol>
		<div class="carousel-inner" role="listbox">
			
			{% for noticia in noticias %}
			  	{% if forloop.first %}
			  		<div title ="Imagen no disponible" class="carousel-item active" style="background-image:   url('{{ MEDIA_URL }}{{ noticia.imagen }}')">
		            	<div class="carousel-caption d-none d-md-block">
		              		<div class="text">
		              			<a href="{% url 'ver_noticia' noticia.id %}" class="text">
                                    <h3>{{ noticia.titulo}}</h3>
		              			    <p>{{ noticia.tag }}</p>
                                </a>
		              		</div>
		            	</div>
		        	</div>
		  		{% else %}
		  			<div title ="Imagen no disponible" class="carousel-item" style="background-image:   url('{{ MEDIA_URL }}{{ noticia.imagen }}')">
		            	<div class="carousel-caption d-none d-md-block">
		              		<div class="text">
		              			<a href="{% url 'ver_noticia' noticia.id %}" class="text">
                                    <h3>{{ noticia.titulo}}</h3>
		              			    <p>{{ noticia.tag }}</p>
                                </a>
		              		</div>
		            	</div>
		        	</div>
	  			{% endif %}
		  	{% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</header>
{% endblock %}

{% block noticias_principales %}
	<section class="py-5">
		 <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-md-10 mx-auto">
	                {% if lista_noticias %}
	                    {% for noticia in lista_noticias %}
	                        <div class="post-preview">
	                            <a href="{% url 'ver_noticia' noticia.id %}">
                                    
                                    <div class="row">
                                        <div class="col-lg-4">
                                        <img src="{% if noticia.imagen %} 
                                            {{ MEDIA_URL }}{{ noticia.imagen }}
                                                {% else %}
                                                    https://vignette4.wikia.nocookie.net/minecraftpe/images/9/9f/Sin_imagen.png/revision/latest?cb=20141201144716&path-prefix=es
                                                {% endif %}" style="width:100%;height:65%">
                                        </div>
                                        <div class="col-lg-8">
                                            <h2 class="post-title">
                                                {{ noticia.titulo }}
                                            </h2>
                                            <h3 class="post-subtitle">
                                                {{ noticia.tag }}
                                            </h3>
                                            <p class="post-meta">
                                                Publicado por {{ noticia.creador.get_full_name }} {{ noticia.fecha_publicacion }}
                                            </p>
                                        </div>
                                    </div>
	                            </a>
	                            
	                        </div>
	                        <hr>


	                    {% endfor %}

	                    <ul class="pagination">
	                        <li class="page-item">
                                <a class="page-link" href="?page=1">Primera</a>
                            </li>
	                        {% for i in paginas %}
	                            {% if i == lista_noticias.number %}
	                                <li class="page-item active">
	                                    <a class="page-link" href="#">{{ i }}<span class="sr-only">Actual</span></a>
	                                </li>
	                            {% else %}
	                                <li class="page-item">
	                                    <a class="page-link" href="?page={{ i }}"> {{ i }} </a>
	                                </li>
	                            {% endif %}
	                        {% endfor %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ lista_noticias.paginator.num_pages }}">Ultima</a>
                            </li>
	                        
	                    </ul>
	                {% else %}
	                {% endif %}
	            </div>
	        </div>
	    </div>
    </section>
{% endblock %}