
<li class="{% if "pagos/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-user"></i>
        <span class="menu-title">Pagos</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">
        {% url 'pago_registrar' as pago_registrar %}
        <li class="{% if pago_registrar in request.path %}active{% endif %}"><a href="{% url 'pago_registrar' %}">Registrar</a></li>

    </ul>
</li>
