
<li class="{% if "actividad/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-check-box"></i>
        <span class="menu-title">Actividades</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">
        {% if user.cargo == "Operador" %}
            {% url 'actividad_crear' as actividad_crear %}
            <li class="{% if actividad_crear in request.path %}active{% endif %}"><a href="{% url 'actividad_crear' %}">Registrar</a></li>
        {% endif %}
        {% url 'actividad_listar' as actividad_listar %}
        <li class="{% if actividad_listar in request.path %}active{% endif %}"><a href="{% url 'actividad_listar' %}">Listar</a></li>

    </ul>
</li>