
<li class="{% if "eventos/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-link"></i>
        <span class="menu-title">Eventos</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">
        {% if user.cargo == "Operador" %}
            {% url 'crear_evento' as crear_evento %}
            <li class="{% if crear_evento in request.path %}active{% endif %}"><a href="{% url 'crear_evento' %}">Registrar</a></li>
        {% endif %}
        {% url 'evento_listar' as evento_listar %}
        <li class="{% if evento_listar in request.path %}active{% endif %}"><a href="{% url 'evento_listar' %}">Listar</a></li>

    </ul>
</li>