<li class="{% if "noticias/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-comment"></i>
        <span class="menu-title">Noticias</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">
        {% url 'noticia_crear' as noticia_crear %}
        <li class="{% if noticia_crear in request.path %}active{% endif %}"><a href="{% url 'noticia_crear' %}">Registrar</a></li>

        {% url 'noticia_listar' as noticia_listar %}
        <li class="{% if noticia_listar in request.path %}active{% endif %}"><a href="{% url 'noticia_listar' %}">Listar</a></li>


    </ul>
</li>