
<li class="{% if "reporte/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-clipboard"></i>
        <span class="menu-title">Reportes</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">

        {% url 'reporte_porcentaje_participacion_fecha' as reporte_porcentaje_participacion_fecha %}
        <li class="{% if reporte_porcentaje_participacion_fecha in request.path %}active{% endif %}">
            <a href="{% url 'reporte_porcentaje_participacion_fecha' %}">Porcentajes de participación por fecha</a></li>
        
        {% url 'reporte_asistencia_actividades' as reporte_asistencia_actividades %}
        <li class="{% if reporte_asistencia_actividades in request.path %}active{% endif %}">
            <a href="{% url 'reporte_asistencia_actividades' %}">Asistencia a actividades por evento</a></li>

    </ul>
</li>