
<li class="{% if "usuarios/" in request.path %}active-sub active{% endif %}">
    <a href="#">
        <i class="ti-user"></i>
        <span class="menu-title">Usuarios</span>
        <i class="arrow"></i>
    </a>

    <!--Submenu-->
    <ul class="collapse">
        {% url 'usuario_crear_modificar' as usuario_crear_modificar %}
        <li class="{% if usuario_crear_modificar in request.path %}active{% endif %}"><a href="{% url 'usuario_crear_modificar' %}">Registrar</a></li>
        {% url 'usuario_listar' as usuario_listar %}
        <li class="{% if usuario_listar in request.path %}active{% endif %}"><a href="{% url 'usuario_listar' %}">Listar</a></li>

    </ul>
</li>