{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock titulo%}</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="{% static 'css/nifty.min.css' %}" rel="stylesheet">

    <!--Themify Icons [ OPTIONAL ]-->
    <link href="{% static 'plugins/themify-icons/themify-icons.min.css' %}" rel="stylesheet">

    <!-- notifications -->
    <link rel="stylesheet" href="{% static 'plugins/toast/toastr/toastr.min.css' %}">

    {% block css %}
    {% endblock css%}

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="{% static 'js/nifty.min.js' %}"></script>


    {% block js %}
    {% endblock js %}

    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->
    <link id="theme" href="{% static 'css/themes/type-d/theme-ocean.css' %}" rel="stylesheet">
    <link  href="{% static 'css/themes/type-d/tema-propio.css' %}" rel="stylesheet">
    {{ form.media }}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
{% block body %}
<body>

<div id="container" class="effect aside-float aside-bright mainnav-lg mainnav-fixed navbar-fixed footer-fixed print-content">
    {%  block barra_inicial %}
    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">

            <!--Brand logo & name-->



            <!--================================-->
            <div class="navbar-header">
                <a href="" class="navbar-brand">
                    <div class="brand-title">
                        <span class="brand-text">Banco ABC</span>
                    </div>
                </a>
            </div>
            <!--================================-->
            <!--End brand logo & name-->


            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">

                    <!--Navigation toogle button-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="ti-view-list"></i>
                        </a>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End Navigation toogle button-->
                </ul>

            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->
        </div>
    </header>
    <!--===================================================-->
    <!--END NAVBAR-->
    {% endblock %}
    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">
                        {% block titulo_pagina %} {% endblock titulo_pagina %}
                    </h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    {% block miga_pan %}
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                    {% endblock miga_pan %}
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->

            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                {% block contenido %}
                <div class="row">
                    <div class="{% block clase_ancho_panel %} col-sm-12 {% endblock clase_ancho_panel %}">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-control">
                                    {% block panel_botones %}{% endblock panel_botones %}
                                </div>
                                <h3 class="panel-title">{% block titulo_panel %} {% endblock titulo_panel%}</h3>
                            </div>
                            <div class="panel-body">
                                {% block contenido_panel %}{% endblock contenido_panel %}
                            </div>
                            <div class="panel-footer">
                                {% block pie_panel %}{% endblock pie_panel %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock contenido %}
            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        {% block panel_navegacion %}
        <nav id="mainnav-container">
            <div id="mainnav">

                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">

                            <ul id="mainnav-menu" class="list-group">
                                {% include "menus/menu_base.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        {% endblock %}
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

    </div>



    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">
        <p class="pad-lft">&#0169; 2017 </p>
    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!-- notifications -->
<script src="{% static 'plugins/toast/toastr-js/toastr.min.js' %}"></script>
<script src="{% static 'js/jquery.blockUI.js' %}"></script>
<script type="text/javascript">
    $('form').attr('autocomplete','off');
    {% for msg in messages %}
    $(document).ready(function(){
        setTimeout(function() {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "showEasing": "swing"
            }
            toastr["{{ msg.tags }}"]("{{msg}}")
        },1500);
    });
    {% endfor %}



    $( "form" ).submit(function( event ) {
        //console.log('bloqueo');
        $.blockUI({
            message: '<h1 style="color:#ffffff !important;"> Enviando ...</h1>',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#177bbb',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: 1,
                color: '#ffffff'
            }
        });
        setTimeout($.unblockUI, 200000);
    });

    //inhabilita el uso de la rueda del raton para los campos tipo number
    $('form').on('focus', 'input[type=number]', function(e) {
        $(this).on('wheel', function(e) {
            e.preventDefault();
        });
    });

</script>


{% block js_propios %}
{% endblock js_propios %}
</body>
{% endblock body %}

</html>