{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Lista de usuarios
{% endblock titulo %}

{% block titulo_pagina %}
    Lista de usuarios
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Lista de usuarios
{% endblock titulo_panel %}


{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del usuario al modal de confirmación
        $(".cambiar-estado").on('click',function(e){
            var url = $(this).attr('data-url');
            var nombre = $(this).data('usuario-nombre');
            var username = $(this).data('usuario-username');
            $(".usuario-nombre").text(nombre);
            $(".usuario-username").text(username);
            $("#confirmar-cambio").attr('href',url);
        });


    </script>
{% endblock js_propios %}

{% block botones_panel %}
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="table-responsive  dataTables_wrapper">
        <table class="table table-striped table-bordered  data-combine">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in lista_usuarios %}
                    <tr>

                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario }}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>{% if usuario.is_active %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        <td>
                             <a href="{% url 'usuario_crear_modificar' usuario.id %}" class="btn btn-xs btn-primary margin-2" >
                                 Modificar
                             </a>
                             <a href="{% url 'usuarios_restablecer_contrasena' usuario.id %}" class="btn btn-xs btn-mint margin-2" >
                                 Restablecer contraseña
                             </a>
                            <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                               data-url="{% if usuario.is_active %}
                                            {% url 'usuario_desactivar' usuario.id %}
                                        {% else %}
                                            {% url 'usuario_activar' usuario.id %}
                                        {% endif %}
                                        "
                               data-usuario-nombre="{{ usuario }}"
                               data-usuario-username="{{ usuario.username }}"
                               class="btn btn-xs {% if usuario.is_active %}btn-danger{% else %}btn-success{% endif %} cambiar-estado margin-2" >
                                        {% if usuario.is_active %}
                                            Desactivar usuario
                                        {% else %}
                                            Activar usuario
                                        {% endif %}
                            </a>
                        </td>
                    </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambiar de estado el usuario</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea cambiar de estado el usuario?</p>
                    <p> El usuario con datos:
                    <ul>
                        <li>Usuario: <label class="usuario-username"></label></li>
                    </ul>
                    <ul>
                        <li>Nombre: <label class="usuario-nombre"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-danger">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}