{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Iniciar sesión {% endblock titulo %}

{% block body %}
    <body>
        <div id="container" class="cls-container">

            <!-- BACKGROUND IMAGE -->
            <!--===================================================-->
            <div id="bg-overlay"></div>


            <!-- LOGIN FORM -->
            <!--===================================================-->
            <div class="cls-content">
                <div class="cls-content-sm panel">
                    <div class="panel-body">
                        {% if user.is_authenticated %}
                            <h3 class="h3"> Bienvenido {{user.get_full_name}}, su sesión esta iniciada</h3>
                            <a href="{% if user.cargo == "Administrador" %}{% url 'usuario_listar' %}{% else %}{% url 'evento_listar' %}{% endif %}" class="btn btn-default btn-block btn-lg">
                                <span> Ir al inicio</span>
                            </a>
                        {% else %}
                            <div class="mar-ver pad-btm">
                            <h1 class="h3">Iniciar sesión</h1>
                            <p>Ingresa a tu cuenta</p>
                        </div>
                        <form method="POST">{% csrf_token %}
                            <div class="form-group">
                                {{form.username}}
                            </div>
                            <div class="form-group">
                                {{form.password}}
                            </div>
                            <div class="form-group">
                                {{form.confirmacion}}
                                {% if form.confirmacion.errors %}
                                    <div class="alert alert-danger">
                                            {{form.confirmacion.errors.as_text}}
                                    </div>
                                    {%  endif %}
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
                        </form>

                        {% endif %}



                    </div>

                </div>
            </div>
            <!--===================================================-->


        </div>
        <!--===================================================-->
        <!-- END OF CONTAINER -->
        <!-- notifications -->
        <script src="{% static 'plugins/toast/toastr-js/toastr.min.js' %}"></script>

        <script type="text/javascript">
            $('form').attr('autocomplete','off');
            {% for msg in messages %}
                $(document).ready(function(){
                    setTimeout(function() {
                        toastr.options = {
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing"
                        }
                        toastr["{{ msg.tags }}"]("{{msg}}")
                    },500);
                });
            {% endfor %}
        </script>

    </body>
{% endblock body %}

