{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}


{% block titulo %} Reestablecer contraseña {% endblock titulo %}

{% block titulo_pagina %}
    Reestablecer contraseña
{% endblock titulo_pagina %}


{% block titulo_panel %}
    Reestablecer contraseña
{% endblock titulo_panel %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'password-strength-meter-master/password.min.css' %}"/>
{% endblock %}

{% block js_propios %}
    <script type="text/javascript" src="{% static 'password-strength-meter-master/password.min.js' %}"></script>}

    <script>
    $('input[name=password1]').password({
      shortPass: 'La contraseña es muy corta',
      badPass: 'Contraseña debil',
      goodPass: 'Contraseña poco segura',
      strongPass: 'Contraseña fuerte',
      enterPass: 'Escribe tu contraseña',
      showPercent: false,
      showText: true, // shows the text tips
      animate: true, // whether or not to animate the progress bar on input blur/focus
      animateSpeed: 'fast', // the above animation speed
      username: false, // select the username field (selector or jQuery instance) for better password checks
      minimumLength: 4 // minimum password length (below this threshold, the score is 0)
    });

    </script>

{% endblock %}

{% block contenido_panel %}
	
    
	<form action = "" method="POST" class="form-horizontal form-bordered "  enctype="multipart/form-data" data-parsley-validate="true"> {% csrf_token %}
        <div class="col-md-offset-0 col-md-12 col-lg-offset-2 col-lg-8">
            {% for campo in form %}
                {% bootstrap_field campo layout='horizontal' %}
            {% endfor %}
            <div class="col-md-12 col-sm-12 ">
                <span class="pull-right">
                    <a href="{% if request.META.HTTP_REFERER %} {{ request.META.HTTP_REFERER }} {% else %} {% url 'inicio' %} {% endif %}" class="btn btn-danger ">Cancelar</a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin-left: 5px">Cambiar contraseña</button>
                </span>
            </div>
        </div>
    </form>
{% endblock %}

