h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #page-title {
    color: #4d627b !important;
}

.btn-default{
    color: #686161 !important;
}

body, #content-container {
    color: #686161 !important;
}

margin-2{
	margin: 2px;
}

.breadcrumb > li:nth-child(1){
    color: rgba(56, 124, 255, 0.72) !important;
}

.breadcrumb > li:nth-child(2){
    color: #0d3ca7 !important;
}