{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}


{% comment %}
    Al extender del bloque css o js de esta plantilla agregar al principio la etiqueta {{ block.super }}
    para que se tome el contenido del bloque que se esta sobreescribiendo y se añada al nuevo que se va a definir
{% endcomment %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
{% endblock css %}

{% block js_propios %}
    <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps/generales/tabla-datos-traducido.js' %}"></script>

{% endblock js_propios %}