{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %} Listado de actividades {% endblock titulo %}

{% block titulo_pagina %}
    Actividades
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Listado de actividades
{% endblock titulo_panel %}

{% block js_propios %}
    {{ block.super }}
    <script>
        //script que trasfiere los datos del evento al modal de confirmación
        $(".cambiar-estado").on('click',function(e){
            var url = $(this).attr('data-url');
            var nombre = $(this).data('actividad-nombre');
            $(".actividad-nombre").text(nombre);
            $("#confirmar-cambio").attr('href',url);
        });


    </script>
{% endblock js_propios %}



{% block contenido_panel %}


        <div class="table-responsive  dataTables_wrapper">
            <table class="table table-striped table-bordered  data-combine">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha de realización</th>
                        <th>Hora de inicio</th>
                        <th>Hora de finalización</th>
                        <th>Cupo total</th>
                        <th>Responsable</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in listado_act %}
                        <tr>
                            <td>{{actividad.nombre}}</td>
                            <td>{{actividad.descripcion}}</td>
                            <td>{{actividad.fecha_realizacion}}</td>
                            <td>{{actividad.hora_inicio}}</td>
                            <td>{{actividad.hora_fin}}</td>
                            <td>{{actividad.cupo_disponible}}</td>
                            <td>{{actividad.responsable_actividad}}</td>
                            <td>
                                <div class="btn-group btn-group-lg">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="true">
                                            Opciones 
                                            <i class="dropdown-caret"></i>
                                        </button>
                                        <ul class="dropdown-menu  dropdown-menu-right" style="">
                                            <li>
                                               <a href="{% url 'actividad_modificar' actividad.id %}">Modificar</a> 
                                            </li>
                                            <li>
                                               <a data-toggle="modal" data-target="#modal-confirmacion" href="#" data-url="{% if actividad.is_active %}
                                               {% url 'actividad_desactivar' actividad.id %} 
                                               {% else %} 
                                               {% url 'actividad_activar' actividad.id %}
                                               {% endif %}" data-actividad-nombre="{{ actividad.nombre }}" class="cambiar-estado">
                                                    {% if actividad.is_active %}
                                                        Desactivar actividad
                                                    {% else %}
                                                        Activar actividad
                                                    {% endif %}
                                                </a>
                                            </li>
                                            <li>
                                               <a href="{% url 'listado_participantes' actividad.id %}">
                                                    Participantes
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'registrar_resultado' actividad.id %}">Registrar resultado</a>
                                            </li>
                                        </ul>   
                                        
                                    </div>
                                    
                                </div>

                                <!--
                                <a href="{% url 'actividad_modificar' actividad.id %}" class="btn btn-xs btn-primary">
                                     Modificar
                                 </a>
                                <a data-toggle="modal" data-target="#modal-confirmacion" href="#"
                                   data-url="{% if actividad.is_active %}
                                                {% url 'actividad_desactivar' actividad.id %}
                                            {% else %}
                                                {% url 'actividad_activar' actividad.id %}
                                            {% endif %}
                                            "
                                   data-actividad-nombre="{{ actividad.nombre }}"
                                   
                                   class="btn btn-xs {% if actividad.is_active %}btn-danger {% else %} btn-success {% endif %} cambiar-estado">
                                            {% if actividad.is_active %}
                                                Desactivar actividad
                                            {% else %}
                                                Activar actividad
                                            {% endif %}
                                </a>

                                <a href="{% url 'listado_participantes' actividad.id %}" class="btn btn-xs btn-success">
                                    Participantes
                                </a>
                                -->

                            </td>
                           
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

     <div class="modal inmodal" id="modal-confirmacion">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Cambiar el estado de la actividad</h4>
                </div>
                <div class="modal-body">
                    <p> ¿Está seguro que desea cambiar el estado de la actividad?</p>
                    <p> Actividad con datos:
                    <ul>
                        <li> <b>Nombre:</b> <label class="actividad-nombre"></label></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a id="confirmar-cambio" href="" class="btn btn-sm btn-primary">Confirmar</a>
                    <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido_panel %}
