{% extends 'base_tablas.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Inscripción
{% endblock titulo %}

{% block titulo_pagina %}
    Lista de participantes
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Lista de participantes al evento {{evento.nombre}}
{% endblock titulo_panel %}




{% block contenido_panel %}
	<div class="table-responsive  dataTables_wrapper">
        <table class="table table-striped table-bordered  data-combine">
            <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Opciones</th>
            </tr>
            </thead>

            <tbody>
            {% if user.cargo == "Operador" %}
                {% for participante in lista_participantes %}
                    <tr>
                        <td> {{ participante.numero_documento }}</td>
                        <td> {{ participante.nombres }}</td>
                        <td> {{ participante.apellidos }}</td>
                        <td> 
                        	<a href="{% url 'inscribir_participante_actividad' numero_identificacion=participante.numero_documento id_actividad=actividad.id %}" class="btn btn-mint btn-s">Inscribir</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock contenido_panel %}
